*.pyc
*.sublime-project
*.sublime-workspace
*.swp
*.*~
.DS_Store
.idea/
newrelic.ini

# /
/.coverage
/.ropeproject
/.noseids
/.pydevproject
/.project
/.settings
.tags
tags
/.tags1
/.vimrc
/.vscode/
/coverage.mysql.xml
/coverage.sqlite.xml
/nbproject
/manage.cfg*
/data
/dist-packages
/xunit.xml
/xunit-mysql.xml
/xunit-sqlite.xml
/xunit-sipp.xml

# /docs/sphinx/
docs/sphinx/build/
docs/sphinx/source/modules/

npm-debug.log
/frontend/dist
/frontend/node_modules

.bash_history
.ipython
yarn.lock

.env

/backend/feedbag/static
