*.pyc
*.sublime-project
*.sublime-workspace
*.swp
*.*~
.DS_Store
.idea/
*.org
*.css

# /
/.coverage
/.ropeproject
/.noseids
/.pydevproject
/.project
/.settings
.tags
tags
/.tags1
/.vimrc
/.vscode/
/coverage.mysql.xml
/coverage.sqlite.xml
/nbproject
/manage.cfg*
/data
/dist-packages
/xunit.xml
/xunit-mysql.xml
/xunit-sqlite.xml
/xunit-sipp.xml

# /docs/sphinx/
backend/docs/sphinx/build/
backend/docs/sphinx/source/modules/
#/backend/flindt/static
/backend/flindt/settings/local.py
/backend/logs/flindt*

.bash_history
.ipython
yarn.lock

.env

docker-compose.override.yml

k8s-config/dev.secret.yaml
