#######################################################
### Base & Server                                   ###
#######################################################
Django==1.10.5
django-rest-framework-social-oauth2==1.0.5
djangorestframework==3.5.3
django-cors-headers==1.1.0
social-auth-app-django==1.0.0
python-social-auth==0.3.4
requests==2.13.0
python-social-auth==0.3.4
Pillow==4.0.0


#######################################################
### Database                                        ###
#######################################################
dj-database-url==0.4.1


#######################################################
### Slack integration                               ###
#######################################################
slacker==0.9.25


#######################################################
### Admin                                           ###
#######################################################
django-object-actions==0.8.2
django-jet==1.0.1


#######################################################
### Production                                      ###
#######################################################
uWSGI==2.0.13.1
