-r requirements.txt

ipython==5.1.0
django-extensions==1.7.3

#######################################################
### Debug                                           ###
#######################################################
django-debug-toolbar==1.5

django-dbshell-plus==1.0.1

#######################################################
### Testing                                         ###
#######################################################
factory_boy==2.7.0
