#######################################################
### Base & Server                                   ###
#######################################################
django==1.10
djangorestframework==3.4.6
django-rest-framework-social-oauth2==1.0.4
django-cors-headers==1.1.0
requests==2.11.1


#######################################################
### Database                                        ###
#######################################################
dj-database-url==0.4.1


#######################################################
### Slack integration                               ###
#######################################################
slacker==0.9.25


#######################################################
### Production                                      ###
#######################################################
uWSGI==2.0.13.1
