-r requirements.txt

ipython
django-extensions

#######################################################
### Debug                                           ###
#######################################################
django-debug-toolbar
