$OpenSansPath: "../fonts/open-sans";

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), url("#{$OpenSansPath}/OpenSans-Regular-webfont.eot");
    src: local("Open Sans"), local("OpenSans"), url("#{$OpenSansPath}/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$OpenSansPath}/OpenSans-Regular-webfont.woff") format("woff"),
         url("#{$OpenSansPath}/OpenSans-Regular-webfont.ttf") format("truetype"),
         url("#{$OpenSansPath}/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("#{$OpenSansPath}/OpenSans-Semibold-webfont.eot");
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("#{$OpenSansPath}/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$OpenSansPath}/OpenSans-Semibold-webfont.woff") format("woff"),
         url("#{$OpenSansPath}/OpenSans-Semibold-webfont.ttf") format("truetype"),
         url("#{$OpenSansPath}/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("OpenSans-Italic-webfont.eot");
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("#{$OpenSansPath}/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$OpenSansPath}/OpenSans-Italic-webfont.woff") format("woff"),
         url("#{$OpenSansPath}/OpenSans-Italic-webfont.ttf") format("truetype"),
         url("#{$OpenSansPath}/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("OpenSans-SemiboldItalic-webfont.eot");
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("#{$OpenSansPath}/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$OpenSansPath}/OpenSans-SemiboldItalic-webfont.woff") format("woff"),
         url("#{$OpenSansPath}/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"),
         url("#{$OpenSansPath}/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
}
