.grade--wrapper {
    h3 {
        text-transform: uppercase;
        font-size: $font-size-20;
        font-weight: bold;
    }
}

.grade--outset {
    height: 15px;
    border: 1px solid $color-neutral-30;
    // width: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 80%;
}

.grade--inset {
    height: 15px;
    background-color: $color-primary-50;
    animation: progressbar 2s;
}

.grade--number {
    display: inline-block;
    font-size: $font-size-20;
    font-weight: bold;
}

@keyframes progressbar {
    0% { width: 0; }
}
