// =========== Pagination

ul.pagination {
    font-size: $font-size-20;
    list-style: none;
    margin: 0 0 $spacing 0;
    text-align: right;

    li {
        display: inline-block;
        margin-bottom: 0.25rem;
        // border: 1px solid $color-neutral-30;
        // border-right: 0;

        border-top: 1px solid $color-neutral-30;
        border-bottom: 1px solid $color-neutral-30;


        &:first-child {
            border: 1px solid $color-neutral-30;
            border-top-left-radius: $border-radius-20;
            border-bottom-left-radius: $border-radius-20;

            a {
                border-top-left-radius: $border-radius-20;
                border-bottom-left-radius: $border-radius-20;
            }
        }

        &:last-child {
            // border-left: 1px solid $color-neutral-30;
            // border-right: 1px solid $color-neutral-30;

            border: 1px solid $color-neutral-30;
            border-top-right-radius: $border-radius-20;
            border-bottom-right-radius: $border-radius-20;

            a {
                border-top-right-radius: $border-radius-20;
                border-bottom-right-radius: $border-radius-20;
            }
        }

        &.disabled a {
            background: $color-neutral-10;
            color: $color-neutral-30;

            &:hover {
                cursor: disabled;
            }
        }

        &.active a {
            color: $white;
            background: #2e3547;
        }
    }

    li.pagination--gap {
        background: none;
        padding: 0.25rem 0.5rem;
    }

    a {
        background: $white;
        // border-radius: $border-radius-10;
        color: $color-neutral-70;
        line-height: 1.5em;
        display: block;
        padding: 0.35rem;
        padding-left: 0.65rem;
        padding-right: 0.65rem;

        &:hover {
            color: $white;
            background: #2e3547;
        }

        &:active,
        &:focus {
            // box-shadow: inset 0 1px 3px rgba($black, 0.2);
            outline: none;
        }

        i {
            position: relative;
            top: 1px;
        }
    }
}
