.login--wrapper {
    max-width: 30rem;
    margin: auto;
    clear: both;
    background: $white;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;

    h1 {
        font-weight: bold;
        font-size: 1.75rem;
    }

    hr {
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 2rem;
    }
}

.login--actions {
    @include grid(24, 0);
    margin-bottom: 2rem;

    a {
        text-decoration: underline;
        font-weight: bold;
        font-size: 90%;
        line-height: 40px;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: $color-primary-50;
        }
    }
}

.login--form {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;

    li {
        margin-bottom: 1rem;

        label {
            margin-bottom: 0.5rem;
            display: block;
        }

        input {
            border-color: #eeeff2;
        }
    }
}

.login--google {
    @include grid(48, 0);

    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;

    &:hover {
        transition: none;
        color: $color-primary-50;

        i {
            color: $color-primary-50;
        }
    }

    img {
        vertical-align: middle;
        margin-right: 20px;
    }

    i {
        color: $color-primary-70;
        position: absolute;
        right: 19px;
        top: 14px;
    }
}

.login--button {
    @extend %button;

    float: right;
    background: $color-primary-30;
    color: $color-primary-50;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;

    i {
        margin-left: 10px;
    }

    &:hover {
        background: darken($color-primary-30, 20);
        color: $color-primary-50;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 1px 3px rgba($black, 0.2);
    }
}
